body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--near-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --near-black: rgb(20, 20, 20);
    --charcoal: rgb(34, 34, 34);
    --light-gray: rgb(247, 247, 247);
    --near-white: rgb(250, 250, 250);
    --blue: rgb(37, 99, 235);
}